.site-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero-section {
    background-color: #10b981; /* Tailwind's emerald-500 */
    color: #f9fafb; /* Tailwind's gray-100 */
    padding: 60px;
  }
  
  .image-section img {
    width: 100%;
    height: auto;
  }
  
  .our-team-section {
    background-color: #f3f4f6; /* Tailwind's gray-100 */
    color: #111827; /* Tailwind's gray-900 */
    padding: 60px;
  }
  
  .explore-open-roles-button {
    display: inline-block;
    background-color: transparent;
    color: #111827; /* Tailwind's gray-900 */
    border: 2px solid #111827; /* Tailwind's gray-900 */
    padding: 10px 15px;
    margin-top: 20px;
    text-decoration: none;
  }
  
  .explore-open-roles-button:hover {
    background-color: #111827; /* Tailwind's gray-900 */
    color: #f9fafb; /* Tailwind's gray-100 */
  }
  