/* Modal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-out; /* Add fadeIn animation */
  z-index: 999;
}

.modal {
  background: #1E2226;
  border-width: 1px;
  border-width: #394147;
  padding: 10px 50px 10px 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: floatIn 0.5s ease-out; /* Add floatIn animation */
  position: relative; /* Add relative positioning to the modal */
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 100%;
  background-color: rgb(29 78 216);
  padding: 3px 10px 3px 10px;
}

.delClose-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 100%;
  background-color: rgba(255, 77, 77, 0.8);
  padding: 3px 10px 3px 10px;
}

/* Add the animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes floatIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Add the floatOut animation */
@keyframes floatOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

/* Apply floatOut animation when modal is closed */
.modal.hide {
  animation: floatOut 0.5s ease-out;
  animation-fill-mode: forwards; /* Ensure the final state of the animation is maintained */
}

.modal-overlay.hide {
  animation: fadeOut 0.5s ease-out;
  animation-fill-mode: forwards; /* Ensure the final state of the animation is maintained */
}

/* Overlay animation */
.view-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInView 0.3s ease-out; /* Add fadeIn animation */
  z-index: 999;
}

/* ViewModal animation */
.view-modal {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadeInView 0.5s ease-out; /* Add floatIn animation */
  position: fixed; /* Use fixed positioning for overlay */
  top: 50%; /* Place the modal 50% from the top */
  left: 50%; /* Place the modal 50% from the left */
  transform: translate(-50%, -50%); /* Center the modal */
  z-index: 1000;
}

/* Apply floatOut animation when modal is closed */
.view-modal.hide {
  animation: floatOut 0.5s ease-out;
  animation-fill-mode: forwards; /* Ensure the final state of the animation is maintained */
}

.view-modal-overlay.hide {
  animation: fadeOut 0.5s ease-out;
  animation-fill-mode: forwards; /* Ensure the final state of the animation is maintained */
}

.close-view-button {
  position: fixed;
  top: -10px;
  right: -10px;
  cursor: pointer;
  border-radius: 100%;
  background-color: rgba(255, 77, 77, 0.8);
  padding: 3px 10px 3px 10px;
  z-index: 1001; /* Ensure it is above the view-modal */
}

/* Add the animation keyframes */
@keyframes fadeInView {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}