@tailwind base;
@tailwind components;
@tailwind utilities;

.top-profile {
    position: relative;
    background-image: url("../../img/background-profile.jpg");
    background-size: auto;
    height: 50vh; /* Adjust the height as needed */
}

.top-profile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the darkness by modifying the alpha value (0 to 1) */
}

.title.profile {
    @apply md:cursor-pointer cursor-default py-3 pr-5 z-10 text-[#64748b] hover:bg-blue-700 hover:text-white overflow-hidden text-ellipsis whitespace-nowrap;
}

.title.profile.selected {
    @apply text-white bg-gray-700
}

.underline.box {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 3px;
}

.change-button {
    @apply overflow-hidden text-ellipsis whitespace-nowrap ml-5 w-10/12 bg-blue-700 rounded-lg py-4 px-3
}

.verify-button {
    @apply overflow-hidden text-ellipsis whitespace-nowrap ml-5 w-10/12 rounded-lg py-4 px-3 justify-center md:cursor-pointer cursor-default
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .loading {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  .loading-balance {
    border: 7px solid #f3f3f3;
    border-top: 7px solid #22c473;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* MyProfile.css */

.avatar-editor-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1E2226;
    z-index: 1000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
  
  .avatar-editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar-editor-container button {
    margin-top: 10px;
    cursor: pointer;
  }

  .modal-profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    z-index: 999; /* Adjust the z-index as needed */
  }
  
  .modal-profile-content {
    position: relative; /* Added for the checkmark animation */
    background: #1E2226;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  
  .modal-profile-content p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .modal-profile-content button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .checkmark {
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #4caf50;
    animation: checkmarkAnimation 0.8s forwards;
    position: relative;
}

.checkmark::before {
  position: absolute;
  content: '';
  border-style: solid;
  border-width: 4px 4px 0 0;
  border-color: #ffffff;
  height: 25px;
  width: 12px;
  transform: rotate(45deg) scaleY(-1);
  animation: checkmarkAnimationBefore 0.8s forwards;
  top: 26%;
  left: 40%;
}

@keyframes checkmarkAnimation {
    0% {
        width: 0;
        height: 0;
        border-width: 15px;
    }
    50% {
        width: 60px;
        height: 60px;
        border-width: 0;
    }
    100% {
        width: 60px;
        height: 60px;
        border-width: 0;
        background-color: #4caf50;
    }
}

@keyframes checkmarkAnimationBefore {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
      
  }
}