/* EmailModal.css */

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #3498db;
    border-radius: 6px;
    font-size: 16px;
    outline: none; /* Remove default input focus outline */
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #2c3e50; /* Change border color on input focus */
}

.change-button:hover {
    background-color: #449edb; /* Change background color on button hover */
}

.blue-button:hover {
    background-color: #449edb; /* Change background color on button hover */
}

.blue-button {
    margin: 0 auto;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}