@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Play:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-Montserrat;
  }
  body {
    background: #17191D;
  }
  h1 {
    @apply text-xl font-medium capitalize;
  }
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.link.active {
  @apply bg-gray-700 text-slate-200;
}

/* Customizes the whole scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Reduced width for the vertical scrollbar */
}

/* Customizes the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Makes the track background transparent */
}

/* Customizes the scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background: transparent; /* Initially makes the thumb transparent */
  border-radius: 4px; /* Optional: Applies rounding to the thumb for a more polished look on hover */
}

/* Changes the scrollbar thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1E2226; /* Only shows the thumb on hover with a solid color */
}
